.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #000;
    color: #fff;
    padding: 50px 0px 50px 0px;
    width: 100%;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo h1 {
    font-family: 'Playfair Display';
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 16px;
}

.footer-links li {
    cursor: pointer;
}

.footer-links hr {
    border: none;
    width: 1.6px;
    background-color: var(--light-grey-color);
}

.footer-social-icon {
    display: flex;
    gap: 50px;
}

.footer-icons-container img {
    cursor: pointer;
    width: 25px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-copyright hr {
    height: 1px;
    background-color: var(--light-grey-color);
    border: none;
}

@media screen and (max-width: 1300px) {
    .footer-links {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    .footer-copyright {
        margin: 0px 50px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .footer li, .footer p {
        font-size: 14px;
    }

    .footer-links {
        gap: 15px;
    }

    .footer h1 {
        font-size: 25px;
    }

    .footer-icons-container img {
        width: 20px;
    }
}